/* latin */

@font-face {
	font-family: "OpenRunde";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../static/font/OpenRunde-400.woff2") format("woff2");
}

@font-face {
	font-family: "OpenRunde Fallback";
	font-style: normal;
	font-weight: 400;
	src: local("Arial");
	ascent-override: 96.88%;
	descent-override: 24.15%;
	line-gap-override: 0%;
	size-adjust: 100%;
}

@font-face {
	font-family: "OpenRunde";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../static/font/OpenRunde-600.woff2") format("woff2");
}

@font-face {
	font-family: "OpenRunde Fallback";
	font-style: normal;
	font-weight: 600;
	src: local("Arial");
	ascent-override: 96.88%;
	descent-override: 24.15%;
	line-gap-override: 0%;
	size-adjust: 100%;
}

@font-face {
	font-family: "OpenRunde";
	font-style: normal;
	font-weight: 400;
	src: url("../static/font/OpenRunde-400.otf") format("otf");
}

@font-face {
	font-family: "OpenRunde";
	font-style: normal;
	font-weight: 600;
	src: url("../static/font/OpenRunde-600.otf") format("otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	:host {
		-webkit-tap-highlight-color: transparent;
		-webkit-text-size-adjust: 100%;
		-moz-tab-size: 4;
		tab-size: 4;
		font-feature-settings: normal;
		font-variation-settings: normal;
		font-family:
			OpenRunde,
			OpenRunde Fallback,
			serif;
		line-height: 1.5;
	}

	*:where(
			:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
		) {
		all: unset;
		display: revert;
	}

	/* Preferred box-sizing value */
	*,
	*::before,
	*::after {
		border: 0 solid;
		box-sizing: border-box;
	}

	/* Reapply the pointer cursor for anchor tags */
	a,
	button {
		cursor: revert;
	}

	/* For images to not be able to exceed their container */
	img {
		max-inline-size: 100%;
		max-block-size: 100%;
	}
}

@layer utilities {
	.pb-safe {
		padding-bottom: env(safe-area-inset-bottom);
	}
}
