@font-face {
	font-family: "OpenRunde";
	font-style: normal;
	font-weight: 400;
	src: url("../static/font/OpenRunde-400.otf") format("otf");
}

@font-face {
	font-family: "OpenRunde";
	font-style: normal;
	font-weight: 600;
	src: url("../static/font/OpenRunde-600.otf") format("otf");
}

@font-face {
	font-family: "OpenRunde";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../static/font/OpenRunde-400.woff2") format("woff2");
}

@font-face {
	font-family: "OpenRunde Fallback";
	font-style: normal;
	font-weight: 400;
	src: local("Arial");
	ascent-override: 96.88%;
	descent-override: 24.15%;
	line-gap-override: 0%;
	size-adjust: 100%;
}

@font-face {
	font-family: "OpenRunde";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../static/font/OpenRunde-600.woff2") format("woff2");
}

@font-face {
	font-family: "OpenRunde Fallback";
	font-style: normal;
	font-weight: 600;
	src: local("Arial");
	ascent-override: 96.88%;
	descent-override: 24.15%;
	line-gap-override: 0%;
	size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	:host {
		-webkit-tap-highlight-color: transparent;
		-webkit-text-size-adjust: 100%;
		-moz-tab-size: 4;
		tab-size: 4;
		font-feature-settings: normal;
		font-variation-settings: normal;
		font-family:
			OpenRunde,
			OpenRunde Fallback,
			serif;
		line-height: 1.5;
		color-scheme: dark light;
	}
	

	@media (prefers-reduced-motion: reduce) {
		* {
			transition-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-delay: 0ms !important;
			animation-delay: 0ms !important;
		}
	}

	@media (prefers-color-scheme: dark) {
		:where(body) {
			filter: invert(90%) hue-rotate(180deg) brightness(1.2);
		}

		:where(:is(img, picture, video, canvas)) {
			filter: invert(90%) hue-rotate(180deg) brightness(1.2);
		}
	}

	:where(*) {
		margin: 0;
		text-box-trim: trim-both;
	}

	*:where(:is(h1, h2)) {
		text-wrap: balance;
		font-size: inherit;
	}

	*:where(:is(p)) {
		text-wrap: pretty;
		letter-spacing: -0.02em;
	}

	*:where(:not(html, img, svg):not(svg *)) {
		font-family: inherit;
	}

	/* Preferred box-sizing value */
	:where(:is(*)) {
		border: 0 solid;
		box-sizing: border-box;
	}

	/* For images to not be able to exceed their container */
	:where(img) {
		max-inline-size: 100%;
		max-block-size: 100%;
	}
}

@layer utilities {
	.pb-safe {
		padding-bottom: env(safe-area-inset-bottom);
	}
}
