/* latin */

@font-face {
	font-family: 'OpenRunde';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../static/font/OpenRunde-400.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenRunde Fallback';
	font-style: normal;
	font-weight: 400;
	src: local('Arial');
	ascent-override: 96.88%;
	descent-override: 24.15%;
	line-gap-override: 0.00%;
	size-adjust: 100.00%;
}

@font-face {
	font-family: 'OpenRunde';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../static/font/OpenRunde-600.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenRunde Fallback';
	font-style: normal;
	font-weight: 600;
	src: local('Arial');
	ascent-override: 96.88%;
	descent-override: 24.15%;
	line-gap-override: 0.00%;
	size-adjust: 100.00%;
}

@font-face {
	font-family: 'OpenRunde';
	font-style: normal;
	font-weight: 400;
	src: url('../static/font/OpenRunde-400.otf') format('otf');
}

@font-face {
	font-family: 'OpenRunde';
	font-style: normal;
	font-weight: 600;
	src: url('../static/font/OpenRunde-600.otf') format('otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-tap-highlight-color: transparent;
	}
}

@layer utilities {
	.pb-safe {
		padding-bottom: env(safe-area-inset-bottom);
	}
}
