---
import clsx from 'clsx';

const { class: className, roundRadius, ...rest } = Astro.props;
---
<a {...rest} class={clsx(
  'underline',
  roundRadius ? `rounded-${roundRadius}` : 'rounded',
  'focus:outline-none', 
  'focus:ring-2',
  'focus:ring-blue-500',
  'focus:ring-offset-2',
  'transition-color',
  'transition-shadow', 
  'hover:text-blue-700',
  className 
)}><slot /></a>