---
import css from "../styles/global.css?inline";
import svgFavicon from "../static/favicon.svg?url";
import svgLegacyFavicon from "../static/favicon.ico?url";
import svgDevFavicon from "../static/favicon-dev.svg?url";
import appleTouchIcon from "../static/apple-touch-icon.png?url";

const favicon =
	process.env.NODE_ENV === "production" ? svgFavicon : svgDevFavicon;
---

<html
  lang="en"
  itemtype="https://schema.org/Person"
  itemscope
  class="relative bg-slate-100"
>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="theme-color" content="rgb(241, 245, 249)" />
		<title>Sergey Garin</title>
		<meta name="description" content="My contacts and cv" />
		<link itemprop="url" href="https://garin.dev" />
		<link rel="icon" href={svgLegacyFavicon} sizes="any" />
		<link rel="icon" href={favicon} type="image/svg+xml" />
		<link rel="apple-touch-icon" href={appleTouchIcon} />
		<meta name="author" content="Sergey Garin" />
		<meta property="og:title" content="Sergey Garin" />
		<meta property="og:description" content="My contacts and cv" />
		<meta property="og:locale" content="en" />
		<meta property="og:site_name" content="Sergey Garin" />
		<style set:html={css}></style>
	</head>
	<body>
		<slot />
	</body>
</html>
