---
import css from "../styles/global.css?inline";
import svgFavicon from "../static/favicon.svg?url";
import pngFavicon from "../static/favicon.png?url";
import svgDevFavicon from "../static/favicon-dev.svg?url";
import appleTouchIcon from "../static/apple-touch-icon.png?url";

const favicon =
	process.env.NODE_ENV === "production" ? svgFavicon : svgDevFavicon;
---

<html
	lang="en"
	itemtype="https://schema.org/Person"
	itemscope
	class="flex h-[100dvh] min-w-[320px] flex-col"
>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="theme-color" content="rgba(0, 0, 0, 0.8)" />
		<title>Sergei Garin</title>
		<meta name="description" content="My contacts and cv" />
		<link itemprop="url" href="https://garin.dev" />
		<link rel="icon" href={pngFavicon} />
		<link rel="icon" href={favicon} type="image/svg+xml" />
		<link rel="apple-touch-icon" href={appleTouchIcon} />
		<meta name="author" content="Sergei Garin" />
		<meta property="og:title" content="Sergei Garin" />
		<meta property="og:description" content="My contacts and cv" />
		<meta property="og:locale" content="en" />
		<meta property="og:site_name" content="Sergei Garin" />
		<style set:html={css}></style>
	</head>
	<body class="flex min-h-full flex-1 flex-shrink-0 flex-col">
		<slot />
	</body>
</html>
